Source: ros-lunar-rqt-runtime-monitor
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: http://wiki.ros.org/rqt_runtime_monitor
Standards-Version: 3.9.2

Package: ros-lunar-rqt-runtime-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-lunar-diagnostic-msgs, ros-lunar-python-qt-binding (>= 0.2.19), ros-lunar-qt-gui, ros-lunar-rospy, ros-lunar-rqt-gui, ros-lunar-rqt-gui-py
Description: rqt_runtime_monitor provides a GUI plugin viewing DiagnosticsArray messages.
